

<div class="mb-8">
    <h3 class="font-headline text-2xl mb-3  pb-1 ">
        <img src="/assets/images/icon-hourglass.png"  alt="Винтажная иконка песочных часов" class="inline-block h-6 mr-2 align-text-bottom">
        Текущий Проект
    </h3>
    <figure class="mb-3">
        <img src="/assets/images/battle-site-excavation.jpg" alt="Поисковые работы на месте боев ВОВ" class="w-full h-auto object-cover border shadow-sm mask-torn" style="height: 150px;">
        <figcaption class="text-xs italic text-center mt-1">Фото: Работы в Ачхой-Мартановском районе</figcaption>
    </figure>
    <h4 class="font-headline text-xl mb-2">
        «Граница Огня»: Изучение оборонительных линий 1942 г.
    </h4>
    <p class="text-sm mb-3">
        Масштабная экспедиция по выявлению и обследованию мест, связанных с обороной Кавказа в 1942–1943 годах. Требуется помощь добровольцев и архивная информация!
    </p>
    <a href="project-detail.html?id=current" class="text-sm vintage-link font-bold">Поддержать проект &raquo;</a>
</div>

<div class="mb-8 p-4 bg-white bg-opacity-80 border  shadow-sm">
    <h3 class="font-headline text-2xl mb-3  pb-1 ">
        <img src="/assets/images/icon-parchment.png" alt="Винтажная иконка свитка" class="inline-block w-6 h-6 mr-2 align-text-bottom">
        Срочное Объявление
    </h3>
    <p class="text-base font-bold mb-2">
        Ищем родственников красноармейца Свиридова М.И.
    </p>
    <p class="text-sm">
        Боец был найден в Курском районе. Просьба всем, кто обладает информацией, немедленно связаться с нами. Каждая минута важна!
    </p>
    <a href="contact.html" class="vintage-link text-sm mt-2 inline-block font-bold">Связаться &raquo;</a>
</div>

<div class="p-4">
    <h3 class="font-headline text-2xl mb-3  pb-1 ">
        <img src="/assets/images/icon-retro-radio.png" alt="Винтажная иконка ретро-радио" class="inline-block w-6 h-6 mr-2 align-text-bottom">
        Слово Руководителя
    </h3>
    <blockquote class="text-sm italic">
        «Память о подвиге — это наш долг перед грядущими поколениями. Наш поисковый отряд — это мост между прошлым и будущим, гарантия того, что жертвы не будут напрасны».
        <footer class="mt-2 not-italic font-bold text-right">— А.В. Иванов, Глава Регионального Отделения</footer>
    </blockquote>
</div>